


.auth__cont {
    min-width: 100%;
    min-height: 100vh;
    display: grid;
    place-content: center;
    .auth-box {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        border: 1px solid rgba(0, 0, 0, 0.733);
        padding: 2rem;
        border-radius: 20px;

        .auth__nav {
            display: flex;
            width: 80vw;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 2rem;

            .auth__title{
                font-size: 1rem;
                text-transform: uppercase;
                font-weight: 400;
                letter-spacing: .03em;
            }

        }
        .auth-form {
            display: grid;
            place-content: center;
            width: 100%;
            min-height: 10rem;

            .public {
                display: flex;
                flex-direction: column;

            }
        
          
        }
        .form {
            display: flex;
            flex-direction: column;
          

            .form__input {
                margin-top: .3rem;
                padding: .8rem 1rem;
                width: 70vw;
                font-size: 1rem;
                outline: none;
                background-color: none
                ;
                border: 1px solid black;
                border-radius: 10px;
                margin-bottom: 1rem;
            }
            .form__submit-button {
               
                background-color: transparent;
                cursor: pointer;

                margin-bottom: .5rem;
                background-color: hsla(0, 0%, 0%, 0.897);
                color: white;
                text-transform: uppercase;
                letter-spacing: .02em;
                padding: 1rem ;
                font-size: .8rem;
                border-radius: 10px;
 
            }
           
             
        }

        
        
    }
}

footer{
    background-color: transparent;
    cursor: pointer;

 
    border: 1px  solid hsla(0, 0%, 0%, 0.897);
    color: white;
    text-transform: uppercase;
    letter-spacing: .02em;
    padding: 1rem;
    font-size: .8rem;
    border-radius: 10px;
    display: grid;
    place-content: center;
    cursor: pointer;

}

.border__active {
    border-bottom: 1px solid black;
}